html,
body {
    margin: 0px;
    height: 100%;
}

.flex {
    display: flex;
    min-height: 100%;

    .list {
        margin: 5px 8px;
        padding: 0px 15px;
        border-radius: 8px;
    }

    .list:hover {
        background-color: rgb(60, 59, 92);
        cursor: pointer;
    }

    /* Style cho sidebar */
    .sidebar {
        transition: all 0.3s ease;
        /* Chiều rộng khi mở */

        .logo {
            display: flex;
            justify-content: center;
        }

        .list.active {
            background-color: #007bff !important; /* Màu nền cho dòng đang chọn */
        }
        
    }

    .sidebar.collapsed {
        width: 0%;
        /* Chiều rộng khi thu gọn */
    }

    /* Ẩn nội dung (ngoại trừ nút toggle) khi sidebar thu gọn */
    .sidebar.collapsed .logo img,
    .sidebar.collapsed .list {
        display: none !important;
    }

    /* Style cho sidebar-content */
    .sidebar-content {
        height: 100%;
        transition: all 0.3s ease;
    }

    /* Giới hạn chiều rộng của nút khi sidebar bị thu gọn */
    .sidebar .btn {
        width: 100%;
        padding: 10px;
    }

    .content {
        width: calc(100% -  15%);
        transition: width 0.3s;
    }

    .content.collapsed {
        width: 100%;
    }

}

.h-56px {
    height: 56px;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-85 {
    width: 85%;
}

.w-95 {
    width: 95% !important;
}

bg-blue {
    background-color: #0d6efd;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .btn-list {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .header-content {
        width: 20%;
        text-align: center;

        .margin-1px {
            margin-top: -1px;
        }
    }

    .row-reverse {
        flex-direction: row-reverse;
        margin-right: 60px;
    }
}

.body {
    display: flex;
    justify-content: center;
    min-height: 88%;

    .body-content {
        width: 80%;
        text-align: center;

        .active {
            background-color: #007bff !important;
        }

        .inactive {
            background-color: transparent;
            color: black;
            border-color: #007bff; 
        }
    }
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

button:disabled {
    border: none;
    margin: 0.8px;
}

input.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; /* Loại bỏ sự mờ nhạt */
    cursor: not-allowed;
}


@import "../node_modules/bootstrap/scss/bootstrap";